<ion-content [fullscreen]="true">
  <div id="container">

    <button id="btnCliente" type="button" class="btn btn-primary btn-lg" routerLink="/Cliente">
      <ion-icon name="people-outline"></ion-icon><br> Cientes
    </button>

    <button id="btnFornecedor" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="business-outline"></ion-icon><br> Fornecedor
    </button><br>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> Funcionário
    </button>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> Orçamento
    </button><br>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> Pedido
    </button>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> OC
    </button><br>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> Estoque
    </button>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> Relatórios
    </button><br>

    <button id="btnFuncionario" type="button" class="btn btn-primary btn-lg">
      <ion-icon name="person-outline"></ion-icon><br> Config.
    </button><br>

  </div>
</ion-content>
